<h1> <%= @name.upcase %>, welcome to "Guess The Number!"</h1>

<h4><em><%= @message %></em></h4>

<h2>Guess Result:</h2>

<h3><%= @win %></h3>
<h3><%= @high %></h3>
<h3><%= @low %></h3>

<p>Note: To play the game, enter your name and your guess in the address bar, (?name=25) like so... replace 25 by your own number</p>